.wrapper
  .single-container__step2
    = render 'users/new-account-header'
    %main.single-main
      %section.single-main__container
        %h2.single-main__container__header
          電話番号の確認
        .single-main__container__registration-form__content
          = form_for @telephone do |f|
            = render "devise/shared/error_messages", resource: @telephone
            .single-main__container__registration-form__content
              .single-main__container__registration-form__content__input-box
                = f.label :携帯電話の番号
                = f.number_field :tel, placeholder: "携帯電話の番号を入力", class: "single-main__container__registration-form__content__input-box__default"
              %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
              = f.submit "次へ進む", class: 'single-main__container__registration-form__content__input-box__btn'
              %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
              .single-main__container__registration-form__content__input-box 
                .single-main__container__registration-form__content__input-box__text-right
                  %p
                    = link_to "", class: "single-main__container__registration-form__content__input-box__text-right__text" do
                      電話番号の確認が必要な理由
                      = icon('fas', 'chevron-right', class: 'single-main__container__registration-form__content__input-box__text-right__icon')
  =render 'shared/sell-footer'