.wrapper
  .single-container__step4
    = render 'users/new-account-header'
    %main.single-main
      %section.single-main__container
        %h2.single-main__container__header
          支払い方法
        .single-main__container__registration-form
          = form_for @card do |f|
            = render "devise/shared/error_messages", resource: @card
            .single-main__container__registration-form__content
              .single-main__container__registration-form__content__input-box
                = f.label :カード番号
                %span.single-main__container__registration-form__content__input-box__require
                  必須
                = f.text_field :customer_number, placeholder: '半角英数字のみ', class: "single-main__container__registration-form__content__input-box__default"
                %ul.card-list
                  = image_tag "#{asset_path "visa.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "master.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "saison-card.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "jcb.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "american_express.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "dinersclub.svg"}", class: 'card-list__icon'
                  = image_tag "#{asset_path "discover.svg"}", class: 'card-list__icon'
              
              
              
              .single-main__container__registration-form__content__input-box
                = f.label :有効期限
                %span.single-main__container__registration-form__content__input-box__require
                  必須
                .single-main__container__registration-form__content__input-box__card-expiration
                  .single-main__container__registration-form__content__input-box__card-expiration__select-wrap
                    = icon('fas', 'chevron-down', class: 'icon-arrow-bottom')
                    = f.select :month, Card.months.keys, {prompt: "--"}, class: "single-main__container__registration-form__content__input-box__card-expiration__select-wrap__default"
                  .single-main__container__registration-form__content__input-box__card-expiration__select-wrap.select-wrap__year
                    = icon('fas', 'chevron-down', class: 'icon-arrow-bottom')
                    = f.select :year, Card.years.keys, {prompt: "--"}, class: "single-main__container__registration-form__content__input-box__card-expiration__select-wrap__default"
              .single-main__container__registration-form__content__input-box
                = f.label :セキュリティーコード
                %span.single-main__container__registration-form__content__input-box__require
                  必須
                = f.text_field :security_code, placeholder: '半角英数字のみ', class: "single-main__container__registration-form__content__input-box__default"
                .single-main__container__registration-form__content__input-box__text-right
                  %p
                    = link_to "", class: "single-main__container__registration-form__content__input-box__text-right__text" do
                      = icon('fas', 'question-circle', class: 'single-main__container__registration-form__content__input-box__text-right__icon')
                      カード裏面の番号とは？
                = f.submit '次へ進む', class: 'single-main__container__registration-form__content__input-box__btn'
    =render 'shared/sell-footer'
= render "devise/shared/links"