.wrapper
  .single-container__step3
    = render 'users/new-account-header'
    %main.single-main
      %section.single-main__container
        %h2.single-main__container__header
          住所入力
        %form.single-main__container__registration-form{action: "#", method: "POST", novalidate: "novalidate"}
          %input{name: "after_save_callback", type: "hidden", value: ""}
          .single-main__container__registration-form__content
            .single-main__container__registration-form__content__input-box
              %label{for: "full_name_kanji"}
                お名前 (全角)
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "family_name_kanji", placeholder: "例) 山田", type: "text", value: ""}
              %input.single-main__container__registration-form__content__input-box__default{name: "first_name_kanji", placeholder: "例) 花子", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
              %label{for: "full_name_kana"}
                お名前 (全角)
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "family_name_kana", placeholder: "例) ヤマダ", type: "text", value: ""}
              %input.single-main__container__registration-form__content__input-box__default{name: "first_name_kana", placeholder: "例) ハナコ", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
              %label{for: "postal_code_title"}
                郵便番号
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "postal_code", placeholder: "例) 123-4567", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
              %label{for: "prefectures_title"}
                都道府県
              %span.single-main__container__registration-form__content__input-box__require
                必須
              .single-main__container__registration-form__content__input-box__prefectures
                .single-main__container__registration-form__content__input-box__prefectures__select-wrap
                  = icon('fas', 'chevron-down', class: 'icon-arrow-bottom')
                  %select.single-main__container__registration-form__content__input-box__prefectures__select-wrap__default
                    - @address.each do |address|
                      %option{value: ""}
                        = address.name           
            .single-main__container__registration-form__content__input-box
              %label{for: "city_title"}
                市区町村
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "city", placeholder: "例) 横浜市緑区", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
              %label{for: "address_title"}
                番地
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "address", placeholder: "例) 青山1-1", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
              %label{for: "building_title"}
                建物名
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "building", placeholder: "例) 柳ビル103", type: "text", value: ""}
            .single-main__container__registration-form__content__input-box
            = link_to credit_users_path do
              = button_tag '#', class: 'single-main__container__registration-form__content__input-box__btn', type: 'submit' do
                次へ進む
  =render 'shared/sell-footer'