.wrapper
  .single-container__step4
    = render 'users/new-account-header'
    %main.single-main
      %section.single-main__container
        %h2.single-main__container__header
          支払い方法
        %form.single-main__container__registration-form{action: "#", method: "POST", novalidate: "novalidate"}
          %input{name: "after_save_callback", type: "hidden", value: ""}
          .single-main__container__registration-form__content
            .single-main__container__registration-form__content__input-box
              %label{for: "card"}
                カード番号
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "card_number", placeholder: '半角英数字のみ', type: "text", value: ""} 
              %ul.card-list
                = image_tag "#{asset_path "visa.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "master.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "saison-card.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "jcb.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "american_express.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "dinersclub.svg"}", class: 'card-list__icon'
                = image_tag "#{asset_path "discover.svg"}", class: 'card-list__icon'
            
            
            
            .single-main__container__registration-form__content__input-box
              %label{for: "card__title"}
                有効期限
              %span.single-main__container__registration-form__content__input-box__require
                必須
              .single-main__container__registration-form__content__input-box__card-expiration
                .single-main__container__registration-form__content__input-box__card-expiration__select-wrap
                  = icon('fas', 'chevron-down', class: 'icon-arrow-bottom')
                  %select.single-main__container__registration-form__content__input-box__card-expiration__select-wrap__default{name: "month"}
                    %option{value:"1"} 01
                    %option{value:"2"} 02
                    %option{value:"3"} 03
                    %option{value:"4"} 04
                    %option{value:"5"} 05
                    %option{value:"6"} 06
                    %option{value:"7"} 07
                    %option{value:"8"} 08
                    %option{value:"9"} 09
                    %option{value:"10"} 10
                    %option{value:"11"} 11
                    %option{value:"12"} 12
                .single-main__container__registration-form__content__input-box__card-expiration__select-wrap.select-wrap__year
                  = icon('fas', 'chevron-down', class: 'icon-arrow-bottom')
                  %select.single-main__container__registration-form__content__input-box__card-expiration__select-wrap__default{name: "year"}
                    %option{value:"19"} 21
                    %option{value:"20"} 22
                    %option{value:"21"} 23
                    %option{value:"22"} 24
                    %option{value:"23"} 25
                    %option{value:"24"} 26
                    %option{value:"25"} 27
                    %option{value:"26"} 28
                    %option{value:"27"} 29
                    %option{value:"28"} 30
                    %option{value:"29"} 31




            .single-main__container__registration-form__content__input-box
              %label{for: "card_code_title"}
                セキュリティーコード
              %span.single-main__container__registration-form__content__input-box__require
                必須
              %input.single-main__container__registration-form__content__input-box__default{name: "card_code", placeholder: '半角英数字のみ', type: "text", value: ""}
              .single-main__container__registration-form__content__input-box__text-right
                %p
                  = link_to "", class: "single-main__container__registration-form__content__input-box__text-right__text" do
                    = icon('fas', 'question-circle', class: 'single-main__container__registration-form__content__input-box__text-right__icon')
                    カード裏面の番号とは？
            = link_to done_users_path do
              = button_tag '#', class: 'single-main__container__registration-form__content__input-box__btn', type: 'submit' do
                次へ進む
  =render 'shared/sell-footer'