.wrapper
  .mypage-header
    = render 'shared/header'
  %nav.bread-crumbs
    %ul
      %li
        = link_to root_path do
          %span フリマアプリ
        = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to root_path do
          %span マイページ
        = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        %span 出品した商品-出品中
  %main.mypage-container.clearfix
    .mypage-container__right-content
      %section.mypage-tab-container
        %h2.mypage-tab-head 出品した商品
      %ul.listing-tabs
        %li.active
          %h3
            = link_to "出品中", listing_users_path
        %li
          %h3
            = link_to "取引中", in_progress_users_path
        %li
          %h3
            = link_to "売却済み", completed_users_path
      .tab-content
        %ul#mypage-tab-transaction-now.mypage-item-list.active
          - @items.each do |item|
            %li
              = link_to root_path, class: 'mypage-item-link' do
                %figure
                  = image_tag "#{item.images[0].image_url}"
                .mypage-item-body.show-stock-item
                  .mypage-item-text 
                    = item.name
                  %div
                    %span.listing-item-count
                      = icon('far', 'heart', class: 'rubber-band')
                      %span 0
                    %span.listing-item-count
                      = icon('far', 'comment-alt', class: 'rubber-band')
                      %span 0
                    .mypage-item-status.action-required 公開停止中
                = icon('fas', 'angle-right', class: 'mypage-listing-right')
    = render 'shared/side'
  = render 'shared/sell-icon'
  = render 'shared/footer'