.mypage-header
  .header__group
    .header__group__upper-header
      .header__group__upper-header__logo
        = link_to root_path do
          = image_tag "#{asset_path "fmarket_logo_red.svg"}", class: 'header__group__upper-header__logo-icon', alt: "fmarket"
      %form.header__group__upper-header__search-bar{action: "#"}
        %input.header__group__upper-header__search-input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}
        = button_tag '#', class: 'header__group__upper-header__search-button' do
          = icon('fas', 'search', class: 'search-icon')
    .header__group__lower-header
      .header__group__lower-header__left-group
        .header__group__lower-header__left-group__list
          = link_to "#", class: "left-content" do
            = icon('fas', 'list', class: 'left-icon')
            カテゴリーから探す
        .header__group__lower-header__left-group__list
          = link_to "#", class: "left-content" do
            = icon('fas', 'tag', class: 'left-icon')
            ブランドから探す
      %ul.header__group__lower-header__right-group
        %li.header__group__lower-header__right-group__list
          = link_to "#", class: "right-content" do
            = icon('fas', 'heart', class: 'right-icon')
            いいね！一覧
        %li.header__group__lower-header__right-group__list
          = link_to "#", class: "right-content" do
            = icon('fas', 'bell', class: 'right-icon')
            お知らせ
        %li.header__group__lower-header__right-group__list
          = link_to "#", class: "right-content" do
            = icon('fas', 'check', class: 'right-icon')
            やることリスト
        %li.header__group__lower-header__right-group__list
          = link_to "#", class: "right-content" do
            = image_tag 'https://icooon-mono.com/i/icon_00146/icon_001460_256.png', class: 'image-icon', alt: "none"
            マイページ