.mypage-side-content
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to mypages_path, class: 'mypage-nav__list__item active' do
          マイページ
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          お知らせ
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          やることリスト
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          いいね！一覧
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to new_item_path, class: 'mypage-nav__list__item' do
          出品する
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to listing_users_path, class: 'mypage-nav__list__item' do
          出品した商品-出品中
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to in_progress_users_path, class: 'mypage-nav__list__item' do
          出品した商品-取引中
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to completed_users_path, class: 'mypage-nav__list__item' do
          出品した商品-売却済み
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          購入した商品-取引中
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          購入した商品-過去の取引
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          ニュース一覧
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          評価一覧
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          ガイド
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          お問い合わせ
          = icon('fas', 'angle-right', class: 'mypage-style-right')
    %h3.mypage-nav__head フリペイ
    %ul.mypage-nav__list
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          売上・振込申請
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          ポイント
          = icon('fas', 'angle-right', class: 'mypage-style-right')
    %h3.mypage-nav__head 設定
    %ul.mypage-nav__list
      %li
        = link_to profile_mypages_path, class: 'mypage-nav__list__item' do
          プロフィール
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          発送元・お届け先住所変更
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to card_mypages_path, class: 'mypage-nav__list__item' do
          支払い方法
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          メール/パスワード
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to identification_mypages_path, class: 'mypage-nav__list__item' do
          本人情報
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to "#", class: 'mypage-nav__list__item' do
          電話番号の確認
          = icon('fas', 'angle-right', class: 'mypage-style-right')
      %li
        = link_to logout_mypages_path, class: 'mypage-nav__list__item' do
          ログアウト
          = icon('fas', 'angle-right', class: 'mypage-style-right')