.wrapper
  .mypage-header
    = render 'shared/header'
  %nav.bread-crumbs-list
    %ul
      %li
        - breadcrumb :card
        = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-angle-right')}", current_class: "breadcrumbs-current"
  %main.mypage-container.clearfix
    .mypage-container__right-content
      %section.profile-container
        %h2.profile-container__head
          支払い方法
        .card-add__inner
          %section
            .card-add__content
              %h3.card-add__content__sub-head
                クレジットカード一覧
            %ul.settings-payment-list
          %section.settings-add-card
            .card-add__content
              = link_to card_create_mypages_path, class: "card_submit_button" do
                = icon("fa", "credit-card", class: "card-icon")
                クレジットカードを追加する
          .settings-not-regist
            = link_to "#", class: "payment-guide", taget: "_blank" do
              %span 支払い方法について
              = icon('fas', 'angle-right', class: 'mypage-style-right')
    = render 'shared/side'
  = render 'shared/sell-icon'
  = render 'shared/footer'