.wrapper
  .mypage-header
    = render 'shared/header'
  %nav.bread-crumbs-list
    %ul
      %li
        - breadcrumb :logout
        = breadcrumbs separator: "#{content_tag(:i, '', class: 'fas fa-angle-right')}", current_class: "breadcrumbs-current"
  %main.mypage-container.clearfix
    .mypage-container__right-content
      .mypage-container__logout
        .mypage-container__logout__content
          %form.card-add__inner{action: "#", method: "POST", novalidate: "novalidate"}
            .card-add__content
              = link_to root_path do
                = button_tag "ログアウト", class: "logout_submit_button", type: "submit"
              %input{name: "__csrf_value", type: "hidden", value: "#"}
    = render 'shared/side'
  = render 'shared/sell-icon'
  = render 'shared/footer'