.wrapper
  =render 'shared/sell-header'
  %main.single-main
    .single-main__login-panel
      .single-main__login-panel__no-account
        %p
        アカウントをお持ちでない方はこちら
        = link_to users_path, class: 'single-main__login-panel__no-account__sign-up' do
          新規登録
      .single-main__login-panel__form-inner
        = link_to user_facebook_omniauth_authorize_path, method: :post, class: 'contents__btn contents__btn__facebook' do
          = icon('fab', 'facebook-square')
          Facebookでログイン
        = link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: 'contents__btn contents__btn__google' do
          = image_tag "#{asset_path "g_rainbow.png"}", class: 'contents__btn__google__icon-google', size: '30x30'
          Googleでログインする
      .login-form-inner
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-form-inner__form-group
            = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "login-form-inner__form-group__input-mail"
          .login-form-inner__form-group
            = f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "login-form-inner__form-group__input-password"
          .login-form-inner__form-group
            = f.submit'ログイン', class: 'single-main__container__registration-form__content__input-box__btn'
          .login-form-inner__form-group
            = link_to "パスワードをお忘れの方", '#', class: "find-password"
  =render 'shared/sell-footer'
= render "devise/shared/links"
