.wrapper
  =render 'shared/header'
  .main-contents
    .main-contents-frame
      .banner
        .banner-image
        .banner-style
          .banner-frame
            %ul.banner-list
              %li.banner-list__content
                .banner-list__content__items
                  = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png', class: 'banner-list__content__items__smartphone', alt: "fmarket"
                  .banner-list__content__items__item
                    .banner-list__content__items__item__title
                      スマホで かんたん
                      %br
                      フリマアプリ
                    %p.banner-list__content__items__item__text
                      フリマアプリはスマホカメラからすぐに出品できる
                      %br
                      購入時も安心な独自システムのアプリです！！！
                    .banner-list__content__items__item__icon
                      = link_to "#", rel: "noopener noreferrer", target: "_blank" do
                        = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg', class: 'banner-list__content__items__item__icon__AppStore', alt: "appStore"
                      = link_to "#", rel: "noopener noreferrer", target: "_blank" do
                        = image_tag 'https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg', class: 'banner-list__content__items__item__icon__GooglePlay', alt: "googlePlay"
    .popular-categories
      %h2.popular-categories__title 人気のカテゴリー
      .popular-categories__title__tag
        %ul.popular-categories__title__tag__items
          %li.popular-categories__title__tag__items__item
            = link_to "レディース", "#", class: "popular-categories__title__tag__items__item__name"
          %li.popular-categories__title__tag__items__item
            = link_to "メンズ", "#", class: "popular-categories__title__tag__items__item__name"
          %li.popular-categories__title__tag__items__item
            = link_to "家電・スマホ・カメラ", "#", class: "popular-categories__title__tag__items__item__name"
          %li.popular-categories__title__tag__items__item
            = link_to "おもちゃ・ホビー・グッズ", "#", class: "popular-categories__title__tag__items__item__name"
          %li.popular-categories__title__tag__items__item
    .item-list
      .item-list__group
        .item-list__group__title
          %h3.item-list__group__title__name 全ての新着アイテム
          = link_to "#", class: "more-item" do
            もっと見る
            = icon('fas', 'angle-right', class: 'style-right')
        %ul.category-groups
          - @items.each do |item|
            %li.category-groups__content
              = link_to item_path(item.id), class: "category-groups__content__link" do
                %figure.category-groups__content__items
                  %figcaption.category-groups__content__items__item
                    = item.name
                    %span.category-groups__content__items__item__title
                  .category-groups__content__items__item__description
                    %span{class: 'item-price'}
                      ¥
                      = item.price
                    = image_tag "#{item.images[0].image_url}", class: 'show-image', alt: "画像が表示できません"
  = render 'shared/sell-icon'
  =render 'shared/footer'