.wrapper
  =render 'shared/sell-header'

  %main.sell-main
    %section.sell-main-container
      .sell-main__container__inner
        %h2.sell-main__container__head
          商品の情報を入力
        = form_with model:@item, local:true do |f|
          - if @item.errors.any?
            %h2= "#{@item.errors.full_messages.count}件のエラーが発生しました。"
            %ul
              - @item.errors.full_messages.each do |message|
                %li= message
          =f.hidden_field :sales_status,{value: "出品中"}
          .sell-form__image__upload__box
            %h3.sell-form__image__upload__box__head
              出品画像
              %span.form-require
                必須
            %p
              最大10枚までアップロードできます
            .sell-form__post__drop__box__container
              .prev-content
              .label-content
                %label{for: "item_images_attributes_0_image", class: "label-box", id: "label-box--0"}
                  %pre.label-box__text-visible クリックしてファイルをアップロード
              .hidden-content
                =f.fields_for :images do |i|
                  =i.file_field :image, class: "hidden-field"
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][1][image]", id: "item_images_attributes_1_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][2][image]", id: "item_images_attributes_2_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][3][image]", id: "item_images_attributes_3_image" }
                  %input{class:"hidden-field", type: "file", name: "item[images_attributes][4][image]", id: "item_images_attributes_4_image" }
          .sell-form__container__item
            .sell-form__container__item__name
              %label
                商品名
                %span.form-require
                  必須
              %div
                = f.text_field :name, id: "input-default",  placeholder: "商品名（必須 40文字まで)", class: "sell-form__container__item__default"
            .sell-form__container__item__description
              %label
                商品の説明
                %span.form-require
                  必須
              = f.text_area :text, class: "sell-form__container__item__description__default", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", rows: "5"
          .sell-form__content__details
            %h3.sell-form__content__head
              商品の詳細
            .sell-form__content__box
              .sell-form__content__group
                %label
                  カテゴリー
                  %span.form-require
                    必須
                %div
                  .sell-form__select__wrap
                    = icon('fas', 'angle-down', class: 'angele-down')
                    = f.select :category, Item.categories.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
              .sell-form__content__group__lower
                %label
                  商品の状態
                  %span.form-require
                    必須
                .sell-form__select__wrap
                  = icon('fas', 'angle-down', class: 'angele-down')
                  = f.select :condition, Item.conditions.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
          .sell-form__content__delivery
            %h3.sell-form__content__head
              配送について
            = link_to "?", "#", class: "form-question"
            .sell-form__content__box
              .sell-form__content__group
                %label
                  配送料の負担
                  %span.form-require
                    必須
                .sell-form__select__wrap
                  = icon('fas', 'angle-down', class: 'angele-down')
                  = f.select :fee_burden, Item.fee_burdens.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
                %label
                  配送の方法
                  %span.form-require
                    必須
                .sell-form__select__wrap
                  = icon('fas', 'angle-down', class: 'angele-down')
                  = f.select :service, Item.services.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
              .sell-form__content__group__lower
                %label
                  発送元の地域
                  %span.form-require
                    必須
                .sell-form__select__wrap
                  = icon('fas', 'angle-down', class: 'angele-down')
                  = f.select :area, Item.areas.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
              .sell-form__content__group__lower
                %label
                  発送までの日数
                  %span.form-require
                    必須
                .sell-form__select__wrap
                  = icon('fas', 'angle-down', class: 'angele-down')
                  = f.select :handing_time, Item.handing_times.keys,{prompt: '---'}, class: 'sell-form__select__wrap__default'
          .sell-form__content__price
            %h3.sell-form__content__head
              販売価格(300〜9,999,999)
            = link_to "?", "#", class: "form-question"
            .sell-form__content__box
              %ul.sell-price
                %li.sell-price__form-group
                  .sell-price__form-group__clearfix
                    %label.sell-price__form-group__clearfix__left
                      価格
                      %span.form-require
                        必須
                    .sell-price__en
                      ¥
                      .sell-price__input
                        = f.number_field :price, min:300, max:9999999, class: "input-default", id: "sell-price", placeholder: "例）300", value: ""
                %li.sell-price__form-group__commission
                  .sales-profit
                    販売手数料 (10%)
                  .l-right -
                %li.clearfix.bold
                  .left
                    販売利益
                  .l-right -
          .sell-form__content__sell-btn-box
            %div
              %p.sell-form__content__sell-btn-box__rule
                = link_to "禁止されている出品", "#", class: "sell-form__content__sell-btn-box__rule__link"
                、
                = link_to "行為", "#", class: "sell-form__content__sell-btn-box__rule__link"
                を必ずご確認ください。
              %p.sell-form__content__sell-btn-box__rule
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                = link_to "偽ブランドの販売", "#", class: "sell-form__content__sell-btn-box__rule__link"
                は犯罪であり処罰される可能性があります。
              %p.sell-form__content__sell-btn-box__rule
                また、出品をもちまして
                = link_to "加盟店規約", "#", class: "sell-form__content__sell-btn-box__rule__link"
                に同意したことになります。
            = f.submit "出品する", class:"sell-btn-red",id:"item_botton"
            = link_to "もどる", root_path, class: "sell-btn-gray"

  =render 'shared/sell-footer'