.wrapper
  =render 'shared/header'
  %section.item-box-container
    %h1.item-box-container__item-name 
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .item-photo__list
          .item-photo__list__outer
            .item-photo__list__outer-stage__item
              .item-photo__list__outer-stage__item-inner
                = image_tag @image.image.to_s, size: "300x300", class: "big_image"
                  -if @item.sales_status == "売却済み" || @item.sales_status == "取引中"
                  .items_box_photo_sold
                    .items_box_photo_sold__inner SOLD
          .item-photo__list__outer__dots
            - @item.images. each do |item|
              = image_tag "#{item.image_url}", class: "a-small_image"

      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@item.user.nickname}", "#"
              %div
                .item-user-ratings
                  = icon('fas', 'grin', class: 'icon-good')
                  %span 2063
                .item-user-ratings
                  = icon('fas', 'meh', class: 'icon-normal')
                  %span 10
                .item-user-ratings
                  = icon('fas', 'tired', class: 'icon-bad')
                  %span 1
          %tr
            %th カテゴリー
            %td
              =link_to("#{@item.category.parent.parent.category}",root_path)
              %br
              =link_to(">#{@item.category.parent.category}",root_path)
              %br
              =link_to(">#{@item.category.category}",root_path)

          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td
              = @item.fee_burden
          %tr
            %th 配送の方法
            %td
              = @item.service
          %tr
            %th 配送元地域
            %td
              = link_to "#" do
                %div
                  = @item.area
          %tr
            %th 発送日の目安
            %td
              = @item.handing_time
    .item-price-box
      %span.item-price-box__bold 
        = converting_to_mark("#{@item.price}")
      %span.item-price-box__tax (税込)
      %span.item-price-box__fee 送料込み
    .text-center
      - if @item.sales_status == "出品中"
        .text-center__sales-point-message
          売上金¥3,000をお持ちです
    - if @item.sales_status == "出品中"
      -if user_signed_in?
        = link_to confirmation_items_path, class: "item-buy-btn" do
          購入画面に進む
    - elsif @item.sales_status == "公開停止"
      %p.item-buy-stop-btn
        出品停止中です
    - else @item.sales_status == "売却済み"
      %p.item-buy-stop-btn
        売り切れました
    .item-description
      %p.item-description__inner
        = @item.text

    .item-button-container.clearfix
      .item-button-container__left
        = button_tag '#', class: 'item-button-container__left__like', name: "unlike", type: "button" do
          = icon('fas', 'heart', class: 'rubber-band')
          %span いいね!
          %span 9
        = link_to "#", class: 'item-button-container__left__report' do
          = icon('far', 'flag', class: 'icon-flag')
          %span 不適切な商品の報告
      .item-button-container__right
        = link_to "#", class: 'item-button-container__right__relief' do
          = icon('fas', 'lock', class: 'icon-lock')
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .item-detail-message__container
      .item-detail-message__container__content
        %ul.item-detail-message__container__content__items
          %li.clearfix
            .item-detail-message__container__content__items__message-user
              %figure
                .item-detail-message__container__content__items__message-user__unknown
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?73731125', alt: "none"
                %figcaption.item-detail-message__container__content__bold hoge
            .item-detail-message__container__content__items__message-body
              .item-detail-message__container__content__items__message-body__text 出品者がコメントを削除しました
              .item-detail-message__container__content__items__message-icons.clearfix
                %time.item-detail-message__container__content__items__message-icons__icon-left
                  = icon('far', 'clock', class: 'icon-time')
                  %span 7 日前
              %i.icon-balloon
          %li.clearfix
            .item-detail-message__container__content__items__message-user
              %figure
                .item-detail-message__container__content__items__message-user__unknown
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?73731125', alt: "none"
                %figcaption.item-detail-message__container__content__bold a
            .item-detail-message__container__content__items__message-body
              .item-detail-message__container__content__items__message-body__text 33,000円でも可能なら即買いしますが可能でしょうか？
              .item-detail-message__container__content__items__message-icons.clearfix
                %time.item-detail-message__container__content__items__message-icons__icon-left
                  = icon('far', 'clock', class: 'icon-time')
                  %span 7 日前
              %i.icon-balloon
      .item-detail-message__container__content
        %form.message-form{action: "#", method: "POST"}
          %input{name: "", type: "hidden", value: ""}
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "", type: "hidden", value: ""}
          %input{name: "", type: "hidden", value: ""}
          %textarea.message-form__textarea-default{name: "", type: "text", value: ""}
          = button_tag '#', class: 'message-form__submit', name: "submit", type: "button" do
            %span コメントする
  %ul.nav-item-link.clearfix
    %li.nav-item-link-prev
      = link_to "#" do
        = icon('fas', 'angle-left', class: 'icon-arrow-left')
        120cm ● petit main ケーブルニットセットアップ ● アイボリー
    %li.nav-item-link-next
      = link_to "#" do
        < 値下げしました！>サッシュベルト(ブラック)
        = icon('fas', 'angle-right', class: 'icon-arrow-right')
  .item-social-media-box
    .item-social-media-box__text-center
    %ul.item-social-media-box__text-center__social-media-box
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'facebook-square', class: 'icon-facebook')
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'twitter-square', class: 'icon-twitter')
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'pinterest-square', class: 'icon-pinterest')
  .items-in-user-profile
    %section.items-in-user-profile.clearfix
      %h2.items-in-user-profile__items-box-head
        = link_to "#" do
          = "#{@item.user.nickname}さんのその他の商品"
      .items-in-user-profile__items-box-content.clearfix
      - @items.each do |item|
        %section.items-in-user-profile__items-box-content__item-box
          =link_to controller: "items",action: "show",id:item.id do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag item.images.first.image_url, class: "items-in-user-profile__items-box-content__item-box__photo__lazyloaded"
              - if item.sales_status == "売却済み"|| item.sales_status == "取引中"
                .items_box_photo_sold
                  .items_box_photo_sold__inner SOLD
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                = item.name
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price
                  = "¥ #{item.price.to_s(:delimited)}"
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 14

  %nav.pos-bottom
    %ul
      %li
        = link_to root_path do
          %span フリマアプリ
        = icon('fas', 'angle-right', class: 'icon-arrow-right')
      %li
        %span
          = @item.name
  =render 'shared/footer'