.wrapper
  =render 'shared/header'
  %section.item-box-container
    %h1.item-box-container__item-name 
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .item-photo__list
          .item-photo__list__outer
            .item-photo__list__outer-stage__item
              .item-photo__list__outer-stage__item-inner
                = image_tag @image.image.to_s, size: "300x300", class: "big_image"
                  -if @item.sales_status == "売却済み"
                  .items_box_photo_sold
                    .items_box_photo_sold__inner SOLD
          .item-photo__list__outer__dots
            - @item.images. each do |item|
              %img{src: "#{item.image_url}", class: "a-small_image"}


      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              = link_to "#{@item.user.nickname}", "#"
              %div
                .item-user-ratings
                  = icon('fas', 'grin', class: 'icon-good')
                  %span 2063
                .item-user-ratings
                  = icon('fas', 'meh', class: 'icon-normal')
                  %span 10
                .item-user-ratings
                  = icon('fas', 'tired', class: 'icon-bad')
                  %span 1
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                %div
                  = @item.category
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td
              = @item.fee_burden
          %tr
            %th 配送の方法
            %td
              = @item.service
          %tr
            %th 配送元地域
            %td
              = link_to "#" do
                %div
                  = @item.area
          %tr
            %th 発送日の目安
            %td
              = @item.handing_time
    .item-price-box
      %span.item-price-box__bold 
        = converting_to_mark("#{@item.price}")
      %span.item-price-box__tax (税込)
      %span.item-price-box__fee 送料込み
    .text-center
      .text-center__sales-point-message
        売上金¥3,000をお持ちです
    - if user_signed_in?
      = link_to confirmation_items_path, class: "item-buy-btn" do
        購入画面に進む
    - if 
    .item-description
      %p.item-description__inner
        = @item.text

    .item-button-container.clearfix
      .item-button-container__left
        = button_tag '#', class: 'item-button-container__left__like', name: "unlike", type: "button" do
          = icon('fas', 'heart', class: 'rubber-band')
          %span いいね!
          %span 9
        = link_to "#", class: 'item-button-container__left__report' do
          = icon('far', 'flag', class: 'icon-flag')
          %span 不適切な商品の報告
      .item-button-container__right
        = link_to "#", class: 'item-button-container__right__relief' do
          = icon('fas', 'lock', class: 'icon-lock')
          %span あんしん・あんぜんへの取り組み
  .item-detail-message
    .item-detail-message__container
      .item-detail-message__container__content
        %ul.item-detail-message__container__content__items
          %li.clearfix
            .item-detail-message__container__content__items__message-user
              %figure
                .item-detail-message__container__content__items__message-user__unknown
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?73731125', alt: "none"
                %figcaption.item-detail-message__container__content__bold hoge
            .item-detail-message__container__content__items__message-body
              .item-detail-message__container__content__items__message-body__text 出品者がコメントを削除しました
              .item-detail-message__container__content__items__message-icons.clearfix
                %time.item-detail-message__container__content__items__message-icons__icon-left
                  = icon('far', 'clock', class: 'icon-time')
                  %span 7 日前
              %i.icon-balloon
          %li.clearfix
            .item-detail-message__container__content__items__message-user
              %figure
                .item-detail-message__container__content__items__message-user__unknown
                  = image_tag '//www-mercari-jp.akamaized.net/assets/img/common/common/user-icon.svg?73731125', alt: "none"
                %figcaption.item-detail-message__container__content__bold a
            .item-detail-message__container__content__items__message-body
              .item-detail-message__container__content__items__message-body__text 33,000円でも可能なら即買いしますが可能でしょうか？
              .item-detail-message__container__content__items__message-icons.clearfix
                %time.item-detail-message__container__content__items__message-icons__icon-left
                  = icon('far', 'clock', class: 'icon-time')
                  %span 7 日前
              %i.icon-balloon
      .item-detail-message__container__content
        %form.message-form{action: "#", method: "POST"}
          %input{name: "", type: "hidden", value: ""}
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "", type: "hidden", value: ""}
          %input{name: "", type: "hidden", value: ""}
          %textarea.message-form__textarea-default{name: "", type: "text", value: ""}
          = button_tag '#', class: 'message-form__submit', name: "submit", type: "button" do
            %span コメントする
  %ul.nav-item-link.clearfix
    %li.nav-item-link-prev
      = link_to "#" do
        = icon('fas', 'angle-left', class: 'icon-arrow-left')
        120cm ● petit main ケーブルニットセットアップ ● アイボリー
    %li.nav-item-link-next
      = link_to "#" do
        < 値下げしました！>サッシュベルト(ブラック)
        = icon('fas', 'angle-right', class: 'icon-arrow-right')
  .item-social-media-box
    .item-social-media-box__text-center
    %ul.item-social-media-box__text-center__social-media-box
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'facebook-square', class: 'icon-facebook')
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'twitter-square', class: 'icon-twitter')
      %li
        = link_to "#", class: "share-btn" do
          = icon('fab', 'pinterest-square', class: 'icon-pinterest')
  .items-in-user-profile
    %section.items-in-user-profile.clearfix
      %h2.items-in-user-profile__items-box-head
        = link_to "hogeさんのその他の出品", "#"
      .items-in-user-profile__items-box-content.clearfix
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m61442850335_1.jpg?1581247501', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "希少な超望遠レンズセット❤️パナソニック LUMIX GF6"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                希少な超望遠レンズセット パナソニック LUMIX GF6
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥28,000
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 14
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m45698129728_1.jpg?1571824556', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "⭐️予備バッテリー付き⭐️最上級 プレミアム オリンパスOM-D E-M10"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                ⭐️予備バッテリー付き⭐️最上級 プレミアム オリンパスOM-D E-M10 
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥38,000
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 8
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m33776418270_1.jpg?1573445745', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "コスパ最強手ぶれ補正内蔵望遠レンズ付き ニコン D7000"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                コスパ最強手ぶれ補正内蔵望遠レンズ付き ニコン D7000
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥34,000
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 3
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m73573865074_1.jpg?1577443076', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "新品のWi-Fi SD&予備バッテリー付き Canon Kiss X7"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                新品のWi-Fi SD&amp;予備バッテリー付き Canon Kiss X7
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥35,800
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 9
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m30192132145_1.jpg?1577357163', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "✨便利✨Nikon バッテリーグリップ MB-D11 ニコン純正品"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                ✨便利✨Nikon バッテリーグリップ MB-D11 ニコン純正品
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥8,500
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 14
        %section.items-in-user-profile__items-box-content__item-box
          = link_to "#" do
            %figure.items-in-user-profile__items-box-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m59775588595_1.jpg?1577608247', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "新品のWi-Fi SD&自撮り&動画対応 キャノン Kiss X5"
            .items-in-user-profile__items-box-content__body
              %h3.items-in-user-profile__items-box-content__name
                新品のWi-Fi SD&amp;自撮り&amp;動画対応 キャノン Kiss X5
              .items-in-user-profile__items-box-content__num
                .items-in-user-profile__items-box-content__num__price ¥27,800
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
    %section.items-box-container.clearfix.related-item-column
      %h2.items-box-head
        = link_to "#" do
          パナソニックのデジタルカメラ その他の商品
      .items-box-head-content.clearfix
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m52108250127_1.jpg?1581215629', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "パナソニック デジカメ ピンク"
            .items-box-body
              %h3.items-box-body__name
                パナソニック デジカメ ピンク
              .items-box-body__num
                .items-box-body__num__price ¥4,499
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m40472079846_1.jpg?1576295495', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "圧倒的人気&可愛さの頂点へ ルミックスDMC-GF7"
            .items-box-body
              %h3.items-box-body__name
                圧倒的人気&amp;可愛さの頂点へ ルミックスDMC-GF7
              .items-box-body__num
                .items-box-body__num__price ¥36,800
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m88493542226_1.jpg?1581203135', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "★超美品★自撮り★スマホ転送★タッチパネル★付属品多数パナソニックG2★"
            .items-box-body
              %h3.items-box-body__name
                超美品★自撮り★スマホ転送★タッチパネル★付属品多数パナソニックG2
              .items-box-body__num
                .items-box-body__num__price ¥23,800
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m55305551667_1.jpg?1578360077', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "自撮り＆Wi-Fi&パンケーキレンズ ルミックス GF6"
            .items-box-body
              %h3.items-box-body__name
                自撮り＆Wi-Fi&amp;パンケーキレンズ ルミックス GF6
              .items-box-body__num
                .items-box-body__num__price ¥29,800
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m90773807594_1.jpg?1568207827', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "デジタルカメラ LUMIX デジカメ FX60"
            .items-box-body
              %h3.items-box-body__name
                デジタルカメラ LUMIX デジカメ FX60
              .items-box-body__num
                .items-box-body__num__price ¥2,980
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
        %section.items-box-head-content__item-box
          = link_to "#" do
            %figure.items-box-head-content__item-box__photo
              = image_tag 'https://static.mercdn.net/thumb/photos/m45308657792_1.jpg?1580370038', class: 'items-in-user-profile__items-box-content__item-box__photo__lazyloaded', alt: "高画質コンパクト☆LUMIX DMC-GF2☆スマホに転送お散歩カメラ☆"
            .items-box-body
              %h3.items-box-body__name
                高画質コンパクト☆LUMIX DMC-GF2☆スマホに転送お散歩カメラ☆
              .items-box-body__num
                .items-box-body__num__price ¥16,980
                .items-in-user-profile__items-box-content__num__like
                  = icon('far', 'heart', class: 'icon-like-border')
                  %span 16
  %nav.pos-bottom
    %ul
      %li
        = link_to "#" do
          %span フリマアプリ
        = icon('fas', 'angle-right', class: 'icon-arrow-right')
      %li
        %span 希少な超望遠レンズ&amp;予備バッテリー大人気機種 LUMIX GF7
  =render 'shared/footer'